.businessCard {
  position: absolute;
  height: 138px;
  background: linear-gradient(16.98deg, #113555 13.85%, #267ac9 111.7%);
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 600px;
}

.nameContainer {
  display: flex;
  flex-direction: column;
  z-index: 3;
}

.backLogo {
  position: relative;
  margin: 0 0 0 162px;
  z-index: 2;
}
